.gallery {
    display: grid;
}

.galleryItem {
    display: inline-grid;
}

.galleryItem img {
    width: 200px;
}

.art-view img {
    width: 600px;
}

.add-edit img {
    width: 200px;
    opacity: 0.5;
}