<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Details</title>
</head>
<body>
    <div class="container">
        <article>
            <header>
                <h1><%= art.name %></h1>
            </header>
            <div>
                <img src="<%= art.imageFile %>" alt="<%= art.name %>" style="width:500px;">
            </div><br>
            <div>
                <p><%= art.description %></p>
            </div>
        </article>
    </div>
</body>
</html>