<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <%- include ('../includes/navBar.ejs') %>
    <div class="container">
        <div>
            <form action="/edit-art" method="POST" enctype="multipart/form-data">
                <label for="title">Title</label><br>
                <input type="text" name="title" id="title" value="<%= product.title %>"><br>
                <label for="description">Description</label><br>
                <input type="text" name="description" id="decription" value="<%= product.description %>"><br>
                <label for="image">Image</label><br>
                <input type="file" name="image" id="image" value="">
                <input type="hidden" name="artId" id="artId" value="<%= product._id %>">
                <button type="submit">Save</button>
            </form>
        </div>
    </div>
</body>
</html>